<div>
  <h2>Terms & Conditions</h2>
  <p style="font-size: 1.3rem">1. Taxes : Price Including All Taxes</p>
  <p style="font-size: 1.3rem">
    2. Price / Payments : Payment After Delivery Of Materials/ Payment After
    Proforma
  </p>
  <p style="font-size: 1.3rem">
    3. Delivery : Delivery Of The Goods/Materials Must Be Completed Within 30
    Days
  </p>
  <p style="font-size: 1.3rem">4. Packing & Forwarding Charges : Included</p>
  <p style="font-size: 1.3rem">
    5. Inspection : Inspection Need To Carried Out As Per Standard Practices
    Before Packing
  </p>
  <p style="font-size: 1.3rem">6. Please Send Us The Packing List</p>
  <p style="font-size: 1.3rem">
    7. Copy Of Technical Data Sheet & Certiﬁcates Need To Furnished
  </p>
  <p style="font-size: 1.3rem">8. Inform Dispatch Details Prior To Dispatch</p>
  <p style="font-size: 1.3rem">
    9. Delivery Of Incorrect / Defective Materials Will Be Returned To Supplier.
    Packing & Shipping Cost For The Same Should Be Borne By Supplier
  </p>
  <p style="font-size: 1.3rem">10. Please Send Two Copies Of Your Invoice</p>
  <p style="font-size: 1.3rem">
    11. Please Notify Us Immediately If You Are Unable To Ship As Speciﬁed
  </p>
</div>
