<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="container">
    <main>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" colspan="6">Purchase Order</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col" colspan="6">
              <div>
                <h4>LOFTY OPTICAL INDUSTRIES</h4>
                <span>
                  Seelards Building, Puthukkadai-629117, Kaniyakumari
                  District.</span
                >
                <br />
                <span>Tamil Nadu,India. 04651-234944, 235055.</span><br />
                <span style="font-weight: 500">EMAIL:</span>
                <a
                  href="mailto:loftyindia@gmail.com"
                  style="text-decoration: none; color: black; font-weight: 500"
                  >loftyindia@gmail.com</a
                >
              </div>
            </th>
          </tr>
          <tr>
            <th colspan="2">To</th>
            <th colspan="2">Ship To</th>
            <th colspan="2">PO Info</th>
          </tr>
          <tr>
            <td colspan="2">GKB HI TECH</td>
            <td colspan="2">
              Seelards Building, Puthukkadai, Kaniyakumari District-629117
            </td>
            <td colspan="2">
              <span> PO NO: <strong>TN-024</strong></span><br />
              <span>PO DATE: <strong>02/02/2022</strong></span><br />
              <span>GSTIN NO: <strong>33AGND78930</strong></span><br />
            </td>
          </tr>
          <tr>
            <th scope="col" colspan="6">Product Summary</th>
          </tr>
          <tr>
            <th colspan="2">S.No</th>
            <th colspan="1">Lens Type</th>
            <th colspan="1">Total Quantity</th>
            <th colspan="1">Unit Cost</th>
            <th colspan="1">Total Cost</th>
          </tr>
          <tr>
            <td colspan="2">1</td>
            <td colspan="1">Single Vision</td>
            <td colspan="1">3500</td>
            <td colspan="1">100.00</td>
            <td colspan="1">35000.00</td>
          </tr>
          <tr>
            <th colspan="6" style="text-align:end ">
              <span>Total Cost:<span>35000</span></span
              ><br />
              <span>GST 12%:<span>1000</span></span
              ><br />
              <span>Total:<span>36000</span></span>
            </th>
          </tr>
        </tbody>
      </table>
      <br />
      <h4>Products</h4>
      <table class="table table-bordered" style="width:75%">
        <tbody>
          <tr>
            <th>S.No</th>
            <th>Spherical</th>
            <th>Cyclindrical</th>
            <th>Add</th>
            <th>Axis</th>
            <th>Qty</th>
          </tr>
          <tr>
            <td>1</td>
            <td>0.25</td>
            <td>-0.25</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
          </tr>
          <tr>
            <td>2</td>
            <td>0.25</td>
            <td>-0.25</td>
            <td>1</td>
            <td>0</td>
            <td>4</td>
          </tr>
          <tr>
            <td>3</td>
            <td>0.25</td>
            <td>-0.25</td>
            <td>1</td>
            <td>0</td>
            <td>5</td>
          </tr>
          <tr>
            <td>4</td>
            <td>0.25</td>
            <td>-0.25</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
          </tr>
          <tr>
            <td>5</td>
            <td>0.25</td>
            <td>-0.25</td>
            <td>1</td>
            <td>0</td>
            <td>8</td>
          </tr>
          <tr>
            <td>6</td>
            <td>0.25</td>
            <td>-0.25</td>
            <td>1</td>
            <td>0</td>
            <td>5</td>
          </tr>
          <tr>
            <td>7</td>
            <td>0.25</td>
            <td>-0.25</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
          </tr>
          <tr>
            <td>8</td>
            <td>0.25</td>
            <td>-0.25</td>
            <td>1</td>
            <td>0</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
    </main>
    <br /><br />
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
